/*
Author: Jacob Veber
Email: jacob_veber@student.uml.edu
*/

body {
  background: #3F434E;
}

.btn-purple {
  background: #907CC4;
  color: #F8F9FA;
  width: 100px;
}

.btn-purple:hover {
  background: #76679B;
  color: #F8F9FA;
}

.slider, .slider-value {
  width: 90%;
}

.slider-value {
  text-align: right;
}

.ui-slider .ui-slider-handle {
  height:1.5em;
  width:2em;
  left:-.6em;
  text-decoration:none;
  text-align:center;
}

#mult-table {
  table-layout: fixed;    /* Lets width of cells be set */
}

#tabs {
  overflow: auto;         /* Vertical Scrolling */
  overflow-x: auto;     /* Horizontal Scrolling */
  max-height: 100%;
  width: 100%;
}

#table-container {
  height: 70%;
}
